// utility settings
$mobile_width_cutoff: 800px;

// fonts
$header_font: 'Lato', sans-serif;
$body_font: 'Open Sans', sans-serif;

// colors
$color_primary: #017bff;
$color_text: #2e2e2e;
$trans_darken: rgba(0, 0, 0, 0.4);
$trans_lighten: rgba(255, 255, 255, 0.4);

$background_light: #e7f6f8;
$background_mid: #86ced8;
$background_dark: #333;
$background_veryDark: #222;

// Structural
$sidebar_controls_width: 90px;
$sidebar_width: 35vw;
$sidebar_min_width: 490px;
