$player-bg: #fff;
$player-border-color: darken($player-bg, 12%);
$player-link-color: #444;
$player-progress-color: $player-link-color;
$player-text-color: $player-link-color;
$player-timeline-color: $player-border-color;

.player {
  background-color: $player-bg;
  border-radius: 1rem;
  margin: 1rem;

  border: 1px solid $player-border-color;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
  color: $player-text-color;
  line-height: 1.5625;
  position: relative;
  padding: 0;
}

.player-wrapper {
  display: flex;
  width: 100%;
  min-width: 100%;
  border-radius: 1rem;

  align-items: center;
  background-color: $player-bg;
  justify-content: center;
}

.player-controls {
  display: flex;

  width: 100%;
  flex-grow: 1;

  > div {
    border-right: 1px solid $player-border-color;

    &:last-child {
      border-right: none;
    }

    span {
      color: $player-link-color;
      display: block;
      line-height: 0;
      padding: 1em;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        svg {
          transform: scale(1.05);
        }
      }

      &:active {
        svg {
          transform: scale(1.15);
        }
      }

      svg {
        display: inline-block;
        width: 1.5rem;
      }
    }
  }
}

.player-timeline-wrapper {
  padding: 8px 10px 0;
  height: 50%;
}

.player-timeline {
  background-color: $player-timeline-color;
  flex-grow: 1;
  position: relative;
  height: 100%;
  border-radius: 10px;

  .player-progress,
  .player-seeker {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    border-radius: 10px;
  }

  .player-progress {
    background-color: $player-progress-color;
    z-index: 1;
  }

  .player-seeker {
    cursor: pointer;
    width: 100%;
    z-index: 2;
  }
}

.player-time {
  display: flex;
  justify-content: space-between;

  .player-time-current {
    font-weight: 600;
    padding: 0 10px;
    width: 50px;
  }

  .player-title {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    text-align: center;
    position: relative;
  }

  .player-time-total {
    opacity: 0.8;
    padding: 0 10px;
    min-width: 50px;
  }
}

#volume-span {
  display: flex;
  align-items: center;
}

.player-volume {
  cursor: pointer;
  height: 1.1rem;
  margin: 0 0 0 1rem;
  width: calc(6rem + 1px);
  accent-color: $player-progress-color;
}
