// file used to import theme varibles/mixins that are to be made accessible to the
// entire Vue application
@import 'animations';
@import 'variables';
@import 'mixins';

@import 'parts';


#transcriptionApp{
  display:flex;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  min-width: 600px;
  height:100%;
}

.editor{
  display:flex;
  flex-direction: column;
}